/* ===== FOOTER ===== */
.footer {
  width: 100%;
  background:  #032E15;
  height: 391.52px;
  padding: 60px 85.13px;
  margin-top: 20px;
  font-family: "Inter", sans-serif;
}

.footer-container {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 2fr 1fr 2.5fr;
  gap: 80px;
  align-items: flex-start;
}

.footer-logo {
  font-size: 42.32px;
  font-weight: 700;
  margin-bottom: 24px;
  margin-top: 20px;
  width: 301px;
  height: 73px;
  color: #ffffff;
}

.footer-col {
  display: flex;
  flex-direction: column;
  gap: 16.18px;
  width: 171.24px;
}

.footer-links {
  display: flex;
}
.footer-col a {
  color: #ffffff;
  width: 171.24px;
  height: 37.18px !important;
  font-size: 14.16px;
  font-family: "Oxanium";
  font-weight: 300;
  text-decoration: none;
  opacity: 0.9;
  line-height: 150%;
  letter-spacing: 0%;
}

.footer-social {
  display: flex;
  flex-direction: column;
  gap: 16.18px;
  width: 171.24px;
  height: 121.35px;
margin-top: 113.18px;

}

.footer-social a {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 171.24px;
  height: 37.18px;
  font-family: "Oxanium";
  font-size: 14.16px;
  font-weight: 300;
  line-height: 150%;
  color: #ffffff;
  opacity: 0.9;
  text-decoration: none;
}

.footer-social i {
  font-size: 18px;
  color: #ffffff;
}

.footer-newsletter {
  display: flex;
  flex-direction: column;
  width: 505.64px;
  height: 148.99px;
  margin-top: 100px;
  gap: 16px;
}

.newsletter-title {
  font-size: 16.18px;
  font-family: "Inter";
  font-weight: 700;
  width: 505.64px;
  height: 24px;
  color: #FEF3E4;
}

.newsletter-form {
  display: flex;
  width: 505.64px;
  height: 48.27px;
  gap: 16.18px;
}

.newsletter-form input {
  flex: 1;
  height: 48.27px;
  width: 365.07px;
  background: transparent;
  border: 1.01px solid #ffffff;
  border-radius: 4px;
  padding: 0 12.14px;
  color: #ffffff;
  font-size: 16.18px;
  font-weight: 300;
  font-family: "Inter";
}

.newsletter-form input::placeholder {
  color: rgba(255, 255, 255, 0.7);
}

.newsletter-form button {
  height: 48.27px;
  padding: 0 22px;
  width: 129.54px;
  background: #653B09;
  color: #ffffff;
  gap: 8.09px;
  border: none;
  font-family: "Inter";
  border-radius: 4px;
  font-size: 16.18px;
  font-weight: 700;
  cursor: pointer;
}

.newsletter-note {
  font-size: 12.14px;
  font-weight: 300;
  opacity: 0.8;
  width: 505.64px;
  height: 36px;
  color: #ffffff;
  font-family: "Oxanium";
}

.newsletter-note a {
  color: #ffffff;
  text-decoration: underline;
}

/* ---------- TABLET RESPONSIVE---------- */
@media (max-width: 1024px) {

  .footer {
    padding: 48px 32px;
    height: auto;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
 .footer-left{
  display: flex;
    flex-direction: column;
    align-items: center;   /* THIS fixes GTG */
    width: 100%;
}
  .footer-logo {
   text-align: center;
    margin: 0 ;
  }

  .footer-links {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .footer-col {
    flex-direction: row;
    gap: 10px;
    width: auto;
  }

  .footer-col a {
   font-size: 14px;
    white-space: nowrap;
    width: auto;          /* OVERRIDE fixed width */
    height: auto;
  }

  .footer-social {
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    margin: 0 !important;
    height: auto;
  }

  .footer-social a {
    font-size: 14px;
  }

  .footer-newsletter {
    width: 100%;
    max-width: 520px;
    margin-top: 4px !important;
  }

  .newsletter-form {
    width: 100%;
  }

  .newsletter-form input {
    width: 100%;
  }
}


/* ---------- MOBILE FOOTER ---------- */
@media (max-width: 768px) {

  .footer {
    padding: 36px 16px;
    height: auto;
  }

  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  .footer-logo {
    margin: 0 ;
    text-align: center;
  }
.footer-left {
    display: flex;
    flex-direction: column;
    align-items: center;  
    width: 100%;
  }
  .footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px ;
    max-width: 100%;
  }

 .footer-col {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px ;
    width: 100%;
  }

  .footer-col a {
    font-size: 12.5px;
    width: auto;         
    height: auto;
    white-space: nowrap;
  }
  .footer-social {
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  margin: 0 !important;
  }

  .footer-social a span {
    display: none;
  }

  .footer-social i {
    font-size: 20px;
  }

  .footer-newsletter {
     margin-top: 2px !important;
    width: 100%;
    gap: 10px;
  }

  .newsletter-form {
    flex-direction: column;
    gap: 10px;
  }

  .newsletter-form input,
  .newsletter-form button {
    width: 100%;
    height: 44px;
  }

  .newsletter-note {
    font-size: 11px;
    text-align: center;
  }
}
